<h1 class="title">Welcome to angular Hello {{this.name}}</h1>
  <nav>
    <a [routerLink]="['/login']" routerLinkActive="active">Login</a>
    <br/>
    <a [routerLink]="['/javascript']" routerLinkActive="active">Java Script</a>
    <br/>
    <a [routerLink]="['/city']" routerLinkActive="active">City</a>
    <br/>
    <a [routerLink]="['/about']" routerLinkActive="active">About</a>
    <br/>
    <a [routerLink]="['/form']" routerLinkActive="active">Form</a>
    <br/>
    <a [routerLink]="['/react']" routerLinkActive="active">Form2</a>
    <br/>
    <a [routerLink]="['/get']" routerLinkActive="active">Get Data</a>
    <br/>
    <a [routerLink]="['/post']" routerLinkActive="active">POST Data</a>
    <br/>
    <a [routerLink]="['/parent']" routerLinkActive="active">Parent</a>
    <br/>
    <a [routerLink]="['/child']" routerLinkActive="active">Child</a>
    <br/>
  </nav>
  <router-outlet></router-outlet>